%section.project-body
	.box.m-bt-nil
		%h3 Stay tuned as I continue to add more content! :)
		%p
		%figure.image-wrapper
			<img src="/img/lady_hacks_2014.jpg" alt="" style="width: 75%;max-height: 75%">
			%figcaption
				<a href="https://github.com/atroutt/WeAreTechWomen"target="_blank">WeAreTechWomen</a> team at <a href="http://ladyhacks.org/"target="_blank">Lady Hacks</a> 2014.
			%h4 Interested in working on a project together? Feel free to get in touch: psoshnin@gmail.com
