---
layout: "home"
---

%section.outer-container
  %article.resources
    %header.resources-header
      %h1.title MakerSquare Projects
      / %h2.subtitle A recommended list of books, essays, </br> videos, and podcasts
      .separator-block
    %p Projects during my time at <a href="http://www.makersquare.com"target="_blank">MakerSquare</a>.
    %p Blog Posts
    %ul 
      %li <a href="http://www.polina.io/writing/2015/makerprep.html"target="_blank">MakerPrep Review</a>
      


    / %ul.resources-list
    /   %li
    /     %h4 "The Brothers Karamazov"
    /     %p.source http://www.gutenberg.org/files/28054/28054-h/28054-h.html
    /     %p “The centripetal force on our planet is still fearfully strong, Alyosha. I have a longing for life, and I go on living in spite of logic."

