---
layout: "home"
---

%section.outer-container
  %article.resources
    %header.resources-header
      %h1.title MakerSquare Projects
      / %h2.subtitle A recommended list of books, essays, </br> videos, and podcasts
      .separator-block
    %p Projects during my time at <a href=""http://www.makersquare.com/"target="_blank">MakerSquare</a>.
