---
layout: "home"
---

%section.outer-container
  %article.resources
    %header.resources-header
      %h1.title Mentorship
      / %h2.subtitle A recommended list of books, essays, </br> videos, and podcasts
      .separator-block
    %p Tools, posts, and knowledge base for mentoring other folks in tech and being mentored.
 