---
layout: "home"
---

%section.outer-container
  %article.resources
    %header.resources-header
      %h1.title Interviewing
      %h2.subtitle 
      .separator-block
    %p Sometimes the hardest job is looking for a job. This is a collection of my thoughts, experiences, and reflections from interviewing in the tech industry.

    %ul.resources-list
      %li
        %h4 Preparation
        %p Education, Professional Experience, and Projects
        %p Github, LinkedIn, Angelist, your network
        %p Coding and whiteboarding practice
      %li
        %h4 Mentally navigating the process
        %p Confidence
        %p Community
        %p Resources for reaching out
      %li 
        %h4 Application materials
        %p Building out the resume
        %p Building out the cover letter
        %p How to reach out to folks on Angelist
      %li 
        %h4 Phone Screens
        %p Recruiters vs Hiring Managers vs Engineers
        %p Phone screen worksheet
        %p Types of phone screens to expect
        %p Project worksheet
        %p Questions to ask
        %p What to expect
      %li 
        %h4 Onsites
        %p White boarding
        %p Systems Design
        %p Behavioral
        %p Thank yous and followup











