---
layout: "home"
---

%section.outer-container
  %article.resources
    %header.resources-header
      %h1.title Technical Interviewing
      %h2.subtitle Collection of my algorithm and puzzle journeys
      .separator-block
