body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  main.container {
    background: rgb(243, 244, 244);
    flex: 1;
  }
}

.outer-container {
  @include outer-container;
  padding: $gt-m;
}
