%footer.footer
  .outer-container
    %p
      / This website runs on <a href="http://middlemanapp.com/" target="_blank">Middleman</a>, <a href="http://bourbon.io" target="_blank">Bourbon</a>, and <a href="http://neat.bourbon.io" target="_blank">Neat</a>.<br>The source code is on <a href="https://github.com/polinadotio/polinadotio.github.io" target="_blank">GitHub</a>.

    .col-2
      .column
        %p
          Get in touch:
          <u>psoshnin[at]gmail.com</u>
      .footer-contact.column
        %ul.footer-contact-list
          %li.footer-contact-item
            <a href="http://github.com/polinadotio" target="_blank">
            <i class="fa fa-github"></i>
            </a>
          %li.footer-contact-item
            <a href="http://twitter.com/polinadotio" target="_blank">
            <i class="fa fa-twitter"></i>
            </a>
          %li.footer-contact-item
            <a href="http://www.linkedin.com/in/polinasoshnin" target="_blank">
            <i class="fa fa-linkedin"></i>
            </a>
          %li.footer-contact-item
            <a href="http://stackoverflow.com/users/2150751/907code?tab=profile" target="_blank">
            <i class="fa fa-stack-overflow"></i>
            </a>
