<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]> ><! <![endif]-->
<html lang='en'>
  <!-- <![endif] -->
  <head>
    <meta charset='utf-8'>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
    <!-- Use title if it's in the page YAML frontmatter -->
    <title>Designing better Angular directives</title>
    <meta content='' name='description'>
    <meta content='width=device-width' name='viewport'>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link href="../../stylesheets/syntax-cf0aeb2f.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="../../stylesheets/application-0bbe5424.css" media="screen" rel="stylesheet" type="text/css" />
    <script>
      window.jQuery || document.write('<script src="/js/vendor/jquery-1.8.0.min-5ee64c85.js"><\/script>')
    </script>
    <script src='/js/plugins-d35b11c4.js'></script>
    <script src='/js/vendor/modernizr-2.6.1.min-68fdcc99.js'></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="//use.typekit.net/vzo3kgo.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <meta property="fb:pages" content="231763280544441" />
    <script src='/js/article-6021ed51.js'></script>
  </head>
  <body>
    <!--[if lt IE 7]>  <![endif]-->
    <header class='header'>
      <div class='outer-container'>
        <p class='header-description pull-l'>
          <a class="focus" href="/" >Polina Soshnin</a>
          is a developer based in California.
        </p>
        <nav class='site-nav'>
          <ul class='site-nav-list'>
            <!-- %li.site-nav-item -->
            <!-- = link_to "Code", "/code" -->
            <li class='site-nav-item'>
              <a href="/writing">Writing</a>
            </li>
            <li class='site-nav-item'>
              <a href="/about">About</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main class='container'>
      <section class='outer-container'>
        <section class='article-wrapper'>
          <article class='article-item'>
            <h2 class='article-title'>Designing better Angular directives</h2>
            <small class='article-date'>May 28, 2016</small>
            <div class='article-body'>
              <p>There is a common pitfall when designing directives.</p>
              
              <p>Consider the following directive definition:</p>
              <pre class="highlight javascript">
              <span class="cm">/* @ngInject */</span>
              
              <span class="kd">function</span> <span class="nx">profileInfo</span><span class="p">(</span><span class="nx">$http</span><span class="p">)</span> <span class="p">{</span>
                <span class="k">return</span> <span class="p">{</span>
                  <span class="na">scope</span><span class="p">:</span> <span class="p">{</span>
                    <span class="na">profileId</span><span class="p">:</span> <span class="s2">&quot;=&quot;</span>
                  <span class="p">},</span>
                  <span class="na">template</span><span class="p">:</span> <span class="nx">require</span><span class="p">(</span><span class="s1">&#39;./profile-info.html&#39;</span><span class="p">),</span>
                  <span class="na">link</span><span class="p">:</span> <span class="kd">function</span><span class="p">(</span><span class="nx">scope</span><span class="p">,</span> <span class="nx">element</span><span class="p">)</span> <span class="p">{</span>
              
                    <span class="nx">$http</span><span class="p">.</span><span class="nx">get</span><span class="p">(</span><span class="s2">&quot;/api/profiles/&quot;</span> <span class="o">+</span> <span class="nx">scope</span><span class="p">.</span><span class="nx">profileId</span><span class="p">)</span>
                    <span class="p">.</span><span class="nx">then</span><span class="p">(</span><span class="kd">function</span><span class="p">(</span><span class="nx">response</span><span class="p">)</span> <span class="p">{</span>
                      <span class="nx">scope</span><span class="p">.</span><span class="nx">profile</span> <span class="o">=</span> <span class="nx">response</span><span class="p">.</span><span class="nx">data</span><span class="p">.</span><span class="nx">response</span><span class="p">;</span>
                    <span class="p">});</span>
              
                  <span class="p">}</span>
                <span class="p">};</span>
              <span class="p">}</span>
              </pre>
              <p>and its accompanying template:</p>
              <pre class="highlight text">
              &lt;div class=&quot;profileInfo&quot;&gt;
                &lt;profile-name title=&quot;profile.name&quot;&gt;
                &lt;/profile-name&gt;
                &lt;profile-description description=&quot;profile.description&quot;&gt;
                &lt;/profile-description&gt;
              &lt;/div&gt;
              </pre>
              <p>There are two of problems with this approach. </p>
              
              <h3>Problem #1</h3>
              
              <p>The most obvious issue is the use of profile.title and profile.description 
              in the template. <code>scope.profile</code> is not available until the $http.get 
              request in the link function finishes. 
              The template may (and probably will) render before the request finishes, 
              which will cause .title and .description to be called on an undefined value.</p>
              
              <p>Note that the following solution does not work:</p>
              <pre class="highlight text">
              &lt;div class=&quot;profileInfo&quot;&gt;
                &lt;profile-title
                  ng-if=”profile”
                  title=&quot;profile.title&quot;&gt;
                &lt;/profile-title&gt;
                &lt;profile-description
                  ng-if=”profile”
                  description=&quot;profile.description&quot;&gt;
                &lt;/profile-description&gt;
              &lt;/div&gt;
              </pre>
              <p>The reason is that the profile-title and profile-description directives 
              will still try to compile, which will try to evaluate the title and 
              description attributes so they can be passed to each directive’s scope.</p>
              
              <p>The solution is to place the ng-if=”profile” on a parent element:</p>
              <pre class="highlight text">
              &lt;div ng-if=”profile” class=&quot;profileInfo&quot;&gt;
                &lt;profile-title title=&quot;profile.title&quot;&gt;&lt;/profile-title&gt;
                &lt;profile-description description=&quot;profile.description&quot;&gt;
                &lt;/profile-description&gt;
              &lt;/div&gt;
              </pre>
              <p>Now, Angular will not attempt to compile the child directives until 
              scope.profile is populated when the $http.get request finishes 
              (if it finishes successfully). Using this pattern, the inner content 
              does not become visible until profile is present on the scope.</p>
              
              <h3>Problem #2</h3>
              
              <p>The second issue with the directive example is much less obvious, and it has 
              to do with the following code snippet:</p>
              <pre class="highlight text">
              $http.get(&quot;/api/profiles/&quot; + scope.profileId)
              </pre>
              <p>In the scope directive definition, profileId is passed in from a parent 
              directive in the element attributes. profileId may not be available on 
              the scope at the time the link function runs. Put another way, the link 
              function might run before angular sets up the scope. In this example, the 
              GET request might end up looking like <code>/api/profiles/undefined</code>. </p>
              
              <p>There are two ways around this. One is to store any data the link function
              needs on a service which gets initialized before any directives are compiled, 
              for example, in module.run. This is the recommended approach: whenever possible 
              have data be held by services instead of directives. </p>
              
              <p>TODO: Talk more about the recommended approach from a technical/philosophical perspective.</p>
            </div>
            <div class='article-nav'></div>
            <!-- = link_to "Back to all writing", "/writing", class: "article-nav-link button" -->
            <!-- :plain -->
            <!-- <div id="disqus_thread" class="article-comments button"></div> -->
            <!-- <script type="text/javascript"> -->
            <!-- /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */ -->
            <!-- var disqus_shortname = 'name'; // required: replace example with your forum shortname -->
            <!-- /* * * DON'T EDIT BELOW THIS LINE * * */ -->
            <!-- (function() { -->
            <!-- var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true; -->
            <!-- dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js'; -->
            <!-- (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq); -->
            <!-- })(); -->
            <!-- </script> -->
            <!-- <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript> -->
          </article>
        </section>
      </section>
    </main>
  </body>
</html>

<footer class='footer'>
  <div class='outer-container'>
    <!-- %p -->
    <!-- Made with <i class="fa fa-heart"></i> and <a href="http://middlemanapp.com/" target="_blank">Middleman</a>. -->
    <!-- / , <a href="http://bourbon.io" target="_blank">Bourbon</a>, and <a href="http://neat.bourbon.io" target="_blank">Neat</a>.<br> -->
    <!-- <br> -->
    <!-- The source code is on <a href="https://github.com/polinadotio/polinadotio.github.io" target="_blank">GitHub</a>. -->
    <div class='col-2'>
      <div class='column'>
        <p>
          <!-- Get in touch: -->
          <!-- <u>psoshnin[at]gmail.com</u> -->
          <!-- <i class="fa fa-code"></i> -->
          Made with <i class="fa fa-heart"></i> and <a href="http://middlemanapp.com/" target="_blank">Middleman</a>.
          <br>
          <!-- Theme inspired by <a href="https://github.com/lisasy" target="_blank">@lisasy</a>. -->
          <!-- <br> -->
          The source code is on <a href="https://github.com/polinadotio/polinadotio.github.io" target="_blank">GitHub</a>.
        </p>
      </div>
      <div class='footer-contact column'>
        <ul class='footer-contact-list'>
          <li class='footer-contact-item'>
            <a href="http://github.com/polinadotio" target="_blank">
            <i class="fa fa-github"></i>
            </a>
          </li>
          <li class='footer-contact-item'>
            <a href="http://twitter.com/polinadotio" target="_blank">
            <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li class='footer-contact-item'>
            <a href="http://www.linkedin.com/in/polinasoshnin" target="_blank">
            <i class="fa fa-linkedin"></i>
            </a>
          </li>
          <!-- %li.footer-contact-item -->
          <!-- <a href="http://stackoverflow.com/users/2150751/907code?tab=profile" target="_blank"> -->
          <!-- <i class="fa fa-stack-overflow"></i> -->
          <!-- </a> -->
        </ul>
      </div>
    </div>
  </div>
</footer>
