---
layout: "home"
---

%section.outer-container
  %article.about
    %header.about-header
      %h1.title About me

      %h2.subtitle
        My name is Polina Soshnin. I am a developer based in the San Francisco Bay Area.
      .separator-block

      / .about-profile-image
      / = image_tag("img/profile_pic.jpg")
      

      / <img src="/img/ruby_friends.jpg" alt="" style="width: 100%;max-height: 100%">

      / .separator-block

    %p I graduated from Wellesley College with a degree in <a href="http://www.wellesley.edu/cs" target="_blank">Computer Science</a>.
    / = image_tag("img/profile_pic.jpg")
    
    %p I'm proud to call the Castro neighborhood my home. When I'm not coding, you can find me listening to podcasts, running, and learning about the world and people through stories.

    %p
      If you would like to hang out or talk about working together, you can
      contact me at <u>psoshnin[at]gmail.com</u>.

