---
layout: "home"
---

%section.outer-container
  %article.about
    %header.about-header
      %h1.title About

      %h2.subtitle
        Hi there! My name is Polina, and I'm a software engineer at <a href="https://www.indiegogo.com" target="_blank">Indiegogo</a>. I'm incredibly passionate about building for the web-- software engineering is a means through which I can be proud of building a service that empowers those around me.
      .separator-block

      / .about-profile-image
      / = image_tag("img/profile_pic.jpg")
      
      / <img src="/img/ruby_friends.jpg" alt="" style="width: 100%;max-height: 100%">

      / .separator-block
    / %img(src="img/profile_pic.jpg" style="width: 100%;max-height: 100%")

    %p In my free time I enjoy attending and mentoring at hackathons, learning new frameworks and languages, and tackling meaningful projects. One such project I'm proud of is <a href="https://github.com/httparty" target="_blank">MatchJS</a>, a mentorship platform for JavaScript developers. The project idea grew out of our team’s shared interest in continuing to learn and grow as engineers, while helping others to do the same. 

    %p I graduated from Wellesley College with a degree in <a href="http://www.wellesley.edu/cs" target="_blank">Computer Science</a> and currently reside in San Francisco. When I'm not coding, you can find me listening to podcasts, running, and learning about the world and people through stories.

    %p
      If you would like to hang out or talk about working together, you can
      contact me at <u>psoshnin[at]gmail.com</u>.


