---
layout: "home"
---

%section.outer-container
  %article.resources
    %header.resources-header
      %h1.title Projects
      / %h2.subtitle
      .separator-block
      %h4 <i class="fa fa-file-code-o fa-lg"></i> = source, <i class="fa fa-home fa-lg"></i> = site, <i class="fa fa-pencil-square-o fa-lg"></i> = article
      / .separator-block
    %ul.resources-list
      %li
        %h4 JavaScript
        / %p.source http://www.gutenberg.org/files/28054/28054-h/28054-h.html
        %p 
        <a class="fa fa-file-code-o fa-lg"href="https://github.com/polinadotio/single-page-site-with-d3"target="_blank"></a>
        Single page application using
        <a href="http://d3js.org/"target="_blank">D3.js</a>.
      %li
        %h4 Ruby
        / %p.source https://mitpress.mit.edu/sicp/full-text/book/book.html
        %p
        <a class="fa fa-file-code-o fa-lg"href="https://github.com/wzly-hacks/wellesley-urban-dictionary"target="_blank"></a>
        / [<a href="https://github.com/wzly-hacks/wellesley-urban-dictionary"target="_blank">source</a>] 
        <a href="http://rubyonrails.org/"target="_blank">Rails</a>
        application that allows users to post and vote on entries.
        %p
        <a class="fa fa-file-code-o fa-lg"href="https://github.com/polinadotio/address-ruby-command-line"target="_blank"></a>
        Address book CLI.
      %li  
        %h4 Python
        / %p.source https://medium.com/thoughts-on-society/why-do-women-try-to-get-ahead-by-pulling-men-down-a1345b36b91b
        %p
        <a class="fa fa-file-code-o fa-lg"href="https://github.com/polinadotio/single-page-with-flask-yelp"target="_blank"></a>
        SF Brunch discovery using
        <a href="http://flask.pocoo.org/"target="_blank">Flask</a>, 
        <a href="http://flask.pocoo.org/"target="_blank">Yelp API</a>,
        <a href="http://getbootstrap.com/"target="_blank">Bootstrap</a>, and
        <a href="https://jquery.com/"target="_blank">jQuery</a>.
        %p
        <a class="fa fa-file-code-o fa-lg"href="https://github.com/polinadotio/static-blog-generator"target="_blank"></a>
        Static blog generator using
        <a href="http://pythonhosted.org/Frozen-Flask/"target="_blank">Frozen-Flask</a>.
        %p
        <a class="fa fa-file-code-o fa-lg"href="https://github.com/polinadotio/interview-tech-prep/blob/master/grace_hopper_2015/pinterest.py"target="_blank"></a>
        Searching Place Pins and Boards using
        <a href="https://developers.pinterest.com/docs/getting-started/introduction/"target="_blank">Pinterest API</a>.
        %p
        <a class="fa fa-file-code-o fa-lg"href="https://github.com/polinadotio/opengl-python"target="_blank"></a>
        Texturing, lighting, and animation using a
        <a href="http://cs.wellesley.edu/~cs307/pytw/TW.shtml"target="_blank">Python</a>
        OpenGL library.

      %li
        %h4 Java
        / %p.source http://www.thisamericanlife.org/radio-archives/episode/550/three-miles
        %p
        <a class="fa fa-file-code-o fa-lg"href="https://github.com/polinadotio/Maze"target="_blank"></a>
        Maze traversion.
        %p
        <a class="fa fa-file-code-o fa-lg"href="https://github.com/polinadotio/Mancala-Game"target="_blank"></a>
        Mancala board game using JApplet.
        %p
        <a class="fa fa-file-code-o fa-lg"href="https://github.com/polinadotio/AirplaneTracker"target="_blank"></a>
        Flight Tracker: given two cities, prints out an itinerary and total cost.
        %p
        <a class="fa fa-file-code-o fa-lg"href="https://github.com/polinadotio/puzzlelog/blob/master/misc/spreadsheet_evaluator/SpreadSheet.java"target="_blank"></a>
        Spreadsheet evaluator CLI.
      %li
        %h4 C++
        / %p.source http://www.bloomberg.com/graphics/2015-paul-ford-what-is-code/
        %p
        <a class="fa fa-file-code-o fa-lg"href="https://github.com/polinadotio/sifteocubes"target="_blank"></a>
        Task Cubed: A 3D interactive todo list using the Sifteo platform. 




     