---
layout: "home"
---

%section.outer-container
  %article.resources
    %header.resources-header
      %h1.title Annotated Code
      %h2.subtitle A sampling of Github code, commits, and comments
      .separator-block
    %ul.resources-list
      %li
        %h4 JavaScript
        / %p.source http://www.gutenberg.org/files/28054/28054-h/28054-h.html
        %p 
        [<a href="https://github.com/polinadotio/single-page-site-with-d3"target="_blank">source</a>]
        Single page application using
        <a href="http://d3js.org/"target="_blank">D3.js</a>.
      %li
        %h4 Ruby
        / %p.source https://mitpress.mit.edu/sicp/full-text/book/book.html
        %p
        [<a href="https://github.com/wzly-hacks/wellesley-urban-dictionary"target="_blank">source</a>] 
        <a href="http://rubyonrails.org/"target="_blank">Rails</a>
        application that allows users to post and vote on entries.
        %p
        [<a href="https://github.com/polinadotio/address-ruby-command-line"target="_blank">source</a>]
        Address book CLI.
      %li  
        %h4 Python
        / %p.source https://medium.com/thoughts-on-society/why-do-women-try-to-get-ahead-by-pulling-men-down-a1345b36b91b
        %p
        [<a href="https://github.com/polinadotio/static-blog-generator"target="_blank">source</a>]
        Static site generator using
        <a href="http://flask.pocoo.org/"target="_blank">Flask</a>.
        %p
        [<a href="https://github.com/polinadotio/interview-tech-prep/blob/master/grace_hopper_2015/pinterest.py"target="_blank">source</a>]
        Searching Place Pins and Boards using
        <a href="https://developers.pinterest.com/docs/getting-started/introduction/"target="_blank">Pinterest API</a>.
        %p
        [<a href="https://github.com/polinadotio/opengl-python"target="_blank">source</a>]
        Texturing, lighting, and animation using a
        <a href="http://cs.wellesley.edu/~cs307/pytw/TW.shtml"target="_blank">Python</a>
        OpenGL library.

      %li
        %h4 Java
        / %p.source http://www.thisamericanlife.org/radio-archives/episode/550/three-miles
        %p
        [<a href="https://github.com/polinadotio/Maze"target="_blank">source</a>]
        Maze traversion.
        %p
        [<a href="https://github.com/polinadotio/Mancala-Game"target="_blank">source</a>]
        Mancala board game using JApplet.
        %p
        [<a href="https://github.com/polinadotio/AirplaneTracker"target="_blank">source</a>]
        Flight Tracker: given two cities, prints out an itinerary and total cost.
        %p
        [<a href="https://github.com/polinadotio/puzzlelog/blob/master/misc/spreadsheet_evaluator/SpreadSheet.java"target="_blank">source</a>]
        Spreadsheet evaluator CLI.
      %li
        %h4 C++
        / %p.source http://www.bloomberg.com/graphics/2015-paul-ford-what-is-code/
        %p
        [<a href="https://github.com/polinadotio/sifteocubes"target="_blank">source</a>]
        Task Cubed: A 3D interactive todo list using the Sifteo platform. 




     