---
layout: "home"
---
/ %section.project-body
%section.project-body
  .box
    %article
      %header.resources-header
        %h1.title <i class="fa fa-fort-awesome"></i> Projects
        / %h2.subtitle Group and personal projects using AngularJS, Ruby on Rails, Node, Flask
        .separator-block
  .box
    %article.full-width
      %h4 MatchJS
      .row.counter
        %aside.mini
          %p
            <img src="/img/matchjs-connect.jpg" alt="" style="width: 100%;max-height: 100%">
            / <a class="fa fa-github fa-2x"href="https://github.com/wzly-hacks/wellesley-urban-dictionary"target="_blank"></a> Github 
          / %ul
          /   %li Neon provides the UI for this process.
          /   %li Neon makes it obvious how to do this.
          /   %li
          /     This is pretty neat. I don’t really have to think so much about
          /     this. Neon is fast. 
          /   %li
          /     I can still “Confirm” that I want to publish the thumbnail, so it’s
          /     nice to check the thumb before it gets published.
        .main-column

          %h5 Description
          %p
            Micro mentorship platform for JavaScript developers.
          %h5 Tech Stack
          %p
            AngularJS, RxJS, Express, Firebase, PostgreSQL
          %h5 Role
          %p
            Scrum Master, Software Engineer
          %h5 <a href="https://github.com/httparty/matchjs"target="_blank">Github</a> | <a href="http://polina.io/matchjs/"target="_blank">Read More</a>

  .box
    %article.full-width
      %h4 Trendr
      .row.counter
        %aside.mini
          / %h5 Forces
          %p
            <img src="/img/trendr-home.jpg" alt="" style="width: 100%;max-height: 100%">
          / %p
          / %h5
          /   <a class="fa fa-github fa-2x"href="https://github.com/wzly-hacks/wellesley-urban-dictionary"target="_blank"></a>  
          / %ul
          /   %li Neon provides the UI for this process.
          /   %li Neon makes it obvious how to do this.
          /   %li
          /     This is pretty neat. I don’t really have to think so much about
          /     this. Neon is fast. 
          /   %li
          /     I can still “Confirm” that I want to publish the thumbnail, so it’s
          /     nice to check the thumb before it gets published.
        .main-column
          %h5 Description
          %p
            A trend visualization app for Twitter. 
          %h5 Tech Stack
          %p
            AngularJS, Express, D3.js, Twitter API
          %h5 Role
          %p
            Scrum Master and Team Lead
          %h5 <a href="https://github.com/mks-greenfield/trendr"target="_blank">Github</a> | <a href="http://polina.io/trendr/"target="_blank">Read More</a>
  .box
    %article.full-width
      %h4 Wellesley College Urban Dictionary
      .row.counter
        %aside.mini
          / %h5 Forces
          %p
            <img src="/img/ruby_friends.jpg" alt="" style="width: 100%;max-height: 100%">
          / %p
          / %h5
          /   <a class="fa fa-github fa-2x"href="https://github.com/wzly-hacks/wellesley-urban-dictionary"target="_blank"></a> Github          
          / %ul
          /   %li Neon provides the UI for this process.
          /   %li Neon makes it obvious how to do this.
          /   %li
          /     This is pretty neat. I don’t really have to think so much about
          /     this. Neon is fast. 
          /   %li
          /     I can still “Confirm” that I want to publish the thumbnail, so it’s
          /     nice to check the thumb before it gets published.
        .main-column
          %h5 Description
          %p
            Users can explore, vote on, and contribute to this collection of colloquialisms. 
          %h5 Tech Stack
          %p
            Ruby on Rails
          %h5 Role
          %p Personal project.
          %h5 <a href="https://github.com/wzly-hacks/wellesley-urban-dictionary"target="_blank">Github</a> | <a href="http://polina.io/wzly/"target="_blank">Read More</a>
  .box
    %article.full-width
      %h4 Static Site Generator
      .row.counter
        %aside.mini
          %p
            <img src="/img/ruby_friends.jpg" alt="" style="width: 100%;max-height: 100%">
          / %p
          / %h5
          /   <a class="fa fa-modx fa-2x"href="https://github.com/wzly-hacks/wellesley-urban-dictionary"target="_blank"></a> Github
          / %ul
          /   %li Neon provides the UI for this process.
          /   %li Neon makes it obvious how to do this.
          /   %li
          /     This is pretty neat. I don’t really have to think so much about
          /     this. Neon is fast. 
          /   %li
          /     I can still “Confirm” that I want to publish the thumbnail, so it’s
          /     nice to check the thumb before it gets published.
        .main-column
          %h5 Description
          %p
            Blog in Markdown and host on Github using this static site generator written in Python.
          %h5 Tech stack
          %p
            Flask, Frozen-Flask
          %h5 Role
          %p Personal project.
          %h5 <a href="https://github.com/polinadotio/static-blog-generator"target="_blank">Github</a> 
          / | <a href="https://github.com/wzly-hacks/wellesley-urban-dictionary"target="_blank">Read More</a>
  .box
    %article.full-width
      %h4 Dibs
      .row.counter
        %aside.mini

          %p
            <img src="/img/ruby_friends.jpg" alt="" style="width: 100%;max-height: 100%">
          / %h5
          /   <a class="fa fa-github fa-2x"href="https://github.com/wzly-hacks/wellesley-urban-dictionary"target="_blank"></a>  
          / %h5 Forces
          / %ul
          /   %li Nixle matches you with the right neighborhood you belong to.
          /   %li Nixle matches you with schools if you are a parent or guardian.
        .main-column
          %h5 Description
          %p
            Dibs allows roommates to reserve a room within their house and notify all roommates of why, when and where in order to avoid scheduling conflicts.
          %h5 Tech Stack
          %p
            AngularJS, Express, D3.js
            
          %h5 Role
          %p
            Full stack developer
          %h5 <a href="https://github.com/mks-greenfield/nodetojoy"target="_blank">Github</a> 
          / | <a href="https://github.com/wzly-hacks/wellesley-urban-dictionary"target="_blank">Read More</a>






