---
layout: "home"
---

%section.outer-container
  %article.resources
    %header.resources-header
      %h1.title Projects
      %h2.subtitle 
      .separator-block
    %ul.resources-list
      %li
        %h4 Project One



