---
layout: "home"
---

%section.outer-container
  %article.resources
    %header.resources-header
      %h1.title Projects
      %h2.subtitle 
      .separator-block
    %ul.resources-list
      %li
        %h4 Dibs [Angular, D3, Express]
        %p Dibs is a simple web application allowing roommates to reserve a room within their house and notify all roommates of why, when and where in order to avoid scheduling conflicts.
        %img(src="img/dibs.png" style="width: 50%;max-height: 50%")
      %li
        %h4 Trendr [Angular, D3, Express]
        %p A trend visualization app for Twitter.
        %img(src="img/trendr.png" style="width: 50%;max-height: 50%")
      %li
        %h4 Wellesley College Urban Dictionary [Ruby on Rails]
        %p Users can explore, vote on, and contribute to this collection of colloquialisms.
        / %img(src="img/trendr.png" style="width: 50%;max-height: 50%")
      %li
        %h4 Static Site Generator [Flask]
        %p 
        / %img(src="img/trendr.png" style="width: 50%;max-height: 50%")




