---
layout: "home"
---

%section.outer-container
  %article.resources
    %header.resources-header
      %h1.title Resources
      %h2.subtitle A recommended list of books, essays, </br> videos, and podcasts
      .separator-block
    %ul.resources-list
      %li
        %h4 "What is Code?"
        %p.source http://www.bloomberg.com/graphics/2015-paul-ford-what-is-code/
        %p A piece of digital journalism that attempts to bridge the gap between laypeople and programmers.
      %li  
        %h4 "Why do women try to get ahead by pulling men down?"
        %p.source https://medium.com/thoughts-on-society/why-do-women-try-to-get-ahead-by-pulling-men-down-a1345b36b91b
        %p An elevator metaphor for women in the tech industry.
      %li  
        %h4 "Three Miles"
        %p.source http://www.thisamericanlife.org/radio-archives/episode/550/three-miles
        %p A powerful episode about a program that brings together kids from two schools. One school is public and in the country’s poorest congressional district. The other is private and costs $43,000/year.
      %li
        %h4 "Crucial Conversations"
        %p.source http://amzn.to/1JVKN8f
        %p How to communicate when stakes are high.


     