---
layout: "home"
---

%section.outer-container
  %article.resources
    %header.resources-header
      %h1.title Resources
      %h2.subtitle A recommended list of books, essays, </br> videos, and podcasts
      .separator-block
    %ul.resources-list
      %li
        %h4 "Title"
        %p.source Source
        %p Description